.container_background {
  width: 100%;
  background-image: url('https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
