.day_main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_background_day {
  width: 100%;
  background-image: url('https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.day_main_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.div_main_card {
  background-color: rgba(0, 0, 0, 0.3);
}
