.main_div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_div_2 {
  width: 75%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  background: rgba(171, 167, 167, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  position: relative;
}

.main_icon > .icon {
  font-size: 8rem;
  color: rgb(206, 206, 18);
  animation: iconrot 1.9s infinite linear;
}

.main_div_button {
  position: absolute;
  bottom: 50px;
}
@keyframes iconrot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 760px) {
  .main_icon {
    display: none;
  }
}
